@font-face {
  font-family: 'eu';
  src: url('font/EurostileExtendedBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

html,
body {
  min-height: 100%;
  width: 100%;

  border-radius: 3px solid black;
  background: #eee9e9;


}

.logo {
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  display: flex;



}

.logo img {

  height: 25vh;
  width: 30vw;
}

.mainheading {
  height: 100%;
  width: 100%;
  padding-left: 20px;


}

.mainheading h1 {
  height: 100%;
  width: 100%;
  font-size: 3vw;
  font-family: 'eu', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #eeddd8;

  text-shadow: 1px 1px 1px #04021d;
}

.logo .home {
  border-right: 1px solid #dadada;
  width: 10%;
  height: 100%;
  


  /* background-color: red; */


}



.logo .home h4 {

  background-color: #1b0101;
  color: #fff;
  width: 90%;
  padding: 5px 10px;
  margin-bottom: 0.3vh;
  border-radius: 50px;
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
  5px 5px 15px rgba(0, 0, 0, 0.35);
  transition: 0.5s;
}
.logo .home a {

  text-decoration: none;
  color: #f5f4f4;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

.logo .home h4 i {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5vw;
  height: 1.5vw;
  

  margin-right: 1vw;
}

 .logo .home h4:hover  {
  
  color: #057f88;
  background-color: #a0e4c2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translate(0, 0,);
  transition: 0.6s;
}
.logo .home a:hover {
  color: #131111;
}

.banner {


  position: relative;
  height: 70vh;
  width: auto;
  border: 1px solid rgba(22, 21, 21, 0.568);
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
  transition: 0.5s;
  outline: none;

  overflow: hidden;


}


@keyframes slidy {
  0% {
    left: 0%;
  }

  20% {
    left: 0%;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}


#slider {
  overflow: hidden;
}

#slider figure img {
  width: 20%;

  float: left;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  display: inline-block;
  animation-timing-function: ease;
  animation: 20s slidy infinite;
  transition: 0.5s;
}

img {

  width: 80vw;
  height: 75vh;

}

.index {

  margin-left: 50vw;


}

.index h1 {
  font-size: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-decoration: underline;
  color: rgb(1, 1, 53);
}

.colums .btn {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;






}

.colums .btn button {
  padding: 12px 10px 12px 48px;
  border: none;
  width: 100%;
  background: #eceaea;
  border: 1px solid rgba(107, 44, 44, 0.1);
  color: #1a0147;
  font-weight: 300;
  margin: 10px;

  font-size: 1em;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
  transition: 0.5s;
  outline: none;

}

.colums .btn button:hover {
  background-color: #d3d3d3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;

}

#page6 {
  min-height: 100vh;
  width: 100%;
  /* background-color: #111; */
  background-color: #EFEAE3;
  padding: 10vh 10vw;
  z-index: 999;
}

#page6 h1 {
  font-size: 2.5vw;
  color: #200303;
  /* background-color: red; */
  padding-left: 28vw;
  padding-right: 5vw;
  text-decoration: underline;

  padding-bottom: 10vh;
  border-bottom: 1px solid #4b4949;

}



#page6-content #right-6 {
  width: 70%;
}

#page6-content #right-6 p {
  font-size: 1.5vw;
  color: #030202;
  margin-bottom: 5vh;
  width: 80%;
}



#page6-bottom {
  height: 60vh;
  width: 100%;
  /* background-color: red; */
  border-top: 1px solid #dadada;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* background-color: rgb(48, 48, 48); */
  /* color: #000; */
}

#btm6-part1 {
  border-right: 1px solid #dadada;
  width: 30%;
  /* background-color: red; */
  height: 100%;
}


#btm6-part2 {
  border-right: 1px solid #dadada;
  width: 50%;
  /* background-color: red; */
  height: 100%;
}

#btm6-part2 a {
  text-decoration: none;
  color: #e7e7e7;
}

#btm6-part2 h4 {
  background-color: #1b0101;
  color: #fff;
  width: 100%;
  padding: 1px 1px;
  margin-bottom: 0.3vh;
  border-radius: 50px;
  font-size: 0.85vw;
  display: flex;
  align-items: center;
  font-weight: 500;
}

#btm6-part2 h4:hover {
  color: #030202;
  background-color: #d3d3d3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translate(0, 0);
  transition: 0.3s;
  /* background-color: #333;
      color: #fff;
      transition: background-color 0.3s ease, color 0.3s ease;
      transition: 0.3s; */
}

#btm6-part2 h4 a:hover {
  color: #131111;
}


#btm6-part2 h4 span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5vw;
  height: 1.5vw;
  background-color: #2c0202;
  padding: 0.5vw;
  border-radius: 50%;
  margin-right: 1vw;

}

#btm6-part2 h4 span:hover {
  color: #030202;
  background-color: #313030;

  transition: 0.3s;

}

#btm6-part3 {
  border-right: 1px solid #dadada;
  width: 15%;
  /* background-color: red; */
  height: 100%;
}

#btm6-part3 a {
  width: 10vw;
  text-decoration: none;
  color: #e7e7e7;
}

#btm6-part4 {
  border-right: 1px solid #dadada;
  width: 15%;
  /* background-color: red; */
  height: 100%;
}



#btm6-part4 {
  border-right: 1px solid #dadada;
  width: 15%;
  /* background-color: red; */
  height: 100%;
  font-family: neu;
  font-weight: 500;
  word-spacing: 20%;
}

#btm6-part4 a {
  text-decoration: none;
  color: #e7e7e7;

}


#btm6-part5 {

  width: 15%;
  /* background-color: red; */
  height: 100%;
}

.btm6-parts {
  padding: 5vh 0.6vw;
}

.btm6-parts h5 {
  color: #5f5c5c;
  font-weight: 500;
  font-size: 0.9vw;
  margin-bottom: 4vh;
}

.btm6-parts h4 {
  background-color: #111;
  color: #fff;
  width: 80%;
  padding: 2px 10px;
  margin-bottom: 0.3vh;
  border-radius: 50px;
  font-size: 0.85vw;
  display: flex;
  align-items: center;
  font-weight: 500;

}

.btm6-parts h4 span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5vw;
  height: 1.5vw;
  background-color: #333;
  padding: 0.5vw;
  border-radius: 50%;
  margin-right: 1vw;
}




#btm6-part2 h4:nth-child(2) {
  transform: translateX(0);
}

#btm6-part2 h4:nth-child(3) {
  transform: translateX(10%);
}

#btm6-part2 h4:nth-child(4) {
  transform: translateX(20%);
}

#btm6-part2 h4:nth-child(5) {
  transform: translateX(30%);
}

#btm6-part2 h4:nth-child(6) {
  transform: translateX(40%);
}

#btm6-part2 h4:nth-child(7) {
  transform: translateX(45%);
}

#btm6-part2 h4:nth-child(8) {
  transform: translateX(60%);
}
#btm6-part2 h4:nth-child(9) {
  transform: translateX(70%);
}

#btm6-part3 h4:nth-child(2) {
  transform: translateX(40%);
}

#btm6-part3 h4:nth-child(3) {
  transform: translateX(60%);
}


#btm6-part4 h4:nth-child(2) {
  transform: translateX(50%);
}

#btm6-part4 h4:nth-child(3) {
  transform: translateX(70%);
}

#btm6-part4 h4:nth-child(4) {
  transform: translateX(90%);
}

.footer {
 
  background-color: #222;
  color: white;
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
  text-align: left;
}
.footer-column {
  max-width: 400px;
}
.footer-column .log img{
  width: 10vw;
  height: 6vh;
  margin-bottom: 10px;
  border-bottom: 1px solid #c0392b;
  display: inline-block;
  padding-bottom: 5px;
  
  position: relative;
}
.footer-column ul {
  list-style: none;
  padding: 0;
}
.footer-column ul li {
  margin: 8px 0;
}
.footer-column ul li a {
  color: white;
  text-decoration: none;
}
.social-icons {
  display: flex;
  gap: 10px;
}
.social-icons a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: gray;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}
 